/*CSS Reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
.container,
header,
input,
button {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #473476;
}

/*CSS Reset*/

/*Header Styles*/

.header {
  position: sticky;
  position: -webkit-sticky;
  background: white;
  top: 0;
  z-index: 90;
  /* border-bottom: 1px solid rgb(226, 226, 226); */
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
}

.wrapper {
  min-height: 100vh;
}

.nav {
  margin: 0 auto;
  padding: 1em 0.3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: transparent; */
  /* max-width: 1800px; */
}

.navbrand {
  flex: 2;
}

.navbrand a {
  display: inline-block;
}

.navbrand * {
  outline: none;
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 2;
}

.nav-li:hover {
  color: var(--primary-color);
}

.nav-li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: var(--primary-color);
  display: block;
  border-radius: 999px;
  transition: all 0.3s ease;
}

.nav-li:hover::after {
  width: 100%;
}

.menu {
  display: none;
}

@media screen and (max-width: 968px) {

  .navbrand {
    flex: 1;
  }

  .menu {
    display: block;
    z-index: 100;
    margin-right: 10px;
  }
  .menu i {
    font-size: 22px;
    /* color: white; */
  }
  .nav-ul {
    flex-direction: column;
    height: 300px;
    width: 100%;
    background: white;
    z-index: 99;
    padding: 2em 0;
    position: absolute;
    top: -500px;
    right: 0px;
    border-radius: 4px;
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease;
    /* max-width: 500px; */
  }

  .nav-ul.nav-open {
    top: 0px;
  }

  .w-tags{
    width: 15%;
  }

}

/*Header Styles*/

/*Main Styles*/

.container {
  margin: 50px auto;
}

.hero-subtitle {
  text-align: center;
  margin-bottom: 50px;
}

.hero-subtitle h2 {
  font-size: 22px;
}

.hero-subtitle p {
  margin-top: 10px;
}

.hero-title {
  padding: 2em 0;
  color: white;
  width: 100%;
  /* background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.65)
    ),
    url("../images/heros2.jpeg"); */
  /* background-position: center; */
  /* background-size: cover; */
  /* height: 500px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
}

.hero-title h1 {
  font-size: 84px;
  text-align: center;
  max-width: 1200px;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}

.hero-title p {
  text-align: center;
  /* font-size: 18px; */
  margin-top: 1em;
  padding: 0 8px;
}

.hero-title a {
  text-align: center;
  background: var(--primary-color);
  padding: 1em;
  color: white;
  display: block;
  width: 150px;
  margin: 3em auto 0;
  border-radius: 6969px;
}

.hero-button:hover{
  background-color: transparent;
  border: solid 2px #473476;
  /* color: #473476; */
}

@media screen and (max-width: 890px) {
  .hero-title h1 {
    font-size: 58px;
    padding: 0 0.3em;
  }
}

@media screen and (max-width: 386px) {
  .hero-title h1 {
    font-size: 46px;
  }
}

.hero-nav {
  background: var(--primary-color);
  padding: 2em 0;
}

.hero-nav a {
  color: white;
  font-size: 18px;
}

.hero-nav-link {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-nav i {
  margin-left: 3px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .hero-nav-link {
    flex-direction: column;
  }
  .hero-nav-link a {
    margin: 18px 0;
  }
}

.hero-copy-section {
  margin: 6em auto 0;
  max-width: 1200px;
  padding-bottom: 2em;
  margin-bottom: 4em;
  /* border-bottom: 1px solid rgb(226, 226, 226); */
}

.hero-copy-div {
  display: flex;
  justify-content: space-around;
}

.hero-copy-div h2 {
  font-size: 38px;
  font-weight: normal;
}

.hero-copy-section p,
.hero-copy-section strong {
  text-align: center;
  display: block;
  max-width: 700px;
  margin: 1em auto;
}

.hero-copy-section strong {
  max-width: 1200px;
  margin: 1em auto;
  font-size: 32px;
  font-weight: normal;
}

@media screen and (max-width: 920px) {
  .hero-copy-section strong {
    font-size: 24px;
  }
}


.hero-copy-section p {
  margin-top: 2em;
}

.hero-copy-section strong {
  color: var(--primary-color);
}

.hero-copy-solution {
  color: var(--primary-color);
}

@media screen and (max-width: 1024px) {
  .hero-copy-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero-copy-div h2 {
    font-size: 32px;
  }

  .hero-copy-plus,
  .hero-copy-equal {
    font-size: 42px !important;
    font-family: "poppins";
  }
}

/*About*/

.about-us {
  margin: 4em auto 0;
  background-color: #F2F2F2;
  /* color: white; */
  /* background-position: center; */
  /* background-size: cover; */
  /* padding: 2em 0; */
  /* text-align: center; */
  /* max-width: 1200px; */
  /* background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.77),
      rgba(0, 0, 0, 0.95)
    ),
    url("../images/chennai-city.jpg"); */
}

.about-us h2 {
  font-size: 32px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 16px;
}

.about-us .about-desc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-desc-wrapper {
  background: linear-gradient(
      to right,
      rgba(127, 127, 127, 0.90),
      rgba(127, 127, 127, 0.90)
    ),
    url("../images/about-us.jpeg");
  /* background: linear-gradient(
    to right,
    rgba(102, 59, 148, 0.75),
    rgba(102, 59, 148, 0.8)
  ),
  url("../images/about-us.jpeg"); */
  color: white;
  background-position: center;
  background-size: cover;
  padding: 3em 0;
  text-align: center;
}

.about-text h3 {
  font-size: 22px;
  font-weight: 500;
  /* margin: 2em 0; */
}

.about-p-first-child {
  margin-top: 1.5em !important;
  font-size: 18px;
}

@media screen and (max-width: 920px) {
  .about-p-first-child {
    font-size: 16px;
  }

  .about-text h3 {
    font-size: 18px;
  }
}

.about-text p {
  text-align: left;
  max-width: 1000px;
  margin: 18px auto;
  line-height: 30px;
  padding: 0 16px;
  text-align: center;
}

.about-copy {
  margin-top: 3em;
  font-family: "Open Sans", sans-serif;
}
.about-copy2 {
  font-family: "Open Sans", sans-serif;
  margin-top: 9px;
}

/*About*/

/*Services*/

.our-services {
  margin: 2em auto 0;
  max-width: 1800px;
}

.our-services h2 {
  font-size: 32px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
  color: #473476;
}

.services-head {
  text-align: center;
}

.services-head h3 {
  font-weight: normal;
  font-size: 16px;
  /* color: gray; */
}

h3.services-copy {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-top: 8px;
  color: black;
}

.services-box-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.boxes{
  border: 1px solid #e0dede;
}

.services-box {
  max-width: 500px;
  padding: 1em;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}
.services-box h3 {
  text-align: center;
  border-radius: 5px;
  color: black;
  padding: 6px 0;  
  /* margin-bottom: 18px; */
  /* background: var(--primary-color); */
  /* color: white; */
  /* font-weight: normal; */
}

.services-box p {
  color: gray;
  /* margin-top: 15px; */
}

.services-question {
  cursor: pointer;
  border-radius: 5px;
  padding: 1em;
  height: auto;
  padding-bottom: 2em;
  /* box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.2); */
}

.services-answer {
  transition: all 0.3s ease;
  height: 0px;
  overflow-y: hidden;
  margin-top: 3em;
  padding: 0;
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  /* display: none; */
  /* min-height: 240px; */
}

.services-answer--open {
  padding: 1em;
  height: auto;
  padding-bottom: 2em;
}

@media screen and (max-width: 1024px) {
  .services-box-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

/*Services*/

.our-clients {
  max-width: 1800px;
  margin: 4em auto 0;
}

.our-clients h2 {
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  color: #473476;
}

.our-clients h2,
.our-clients p {
  text-align: center;
}

.client-logos-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.client-logos-div div {
  width: 370px;
  display: flex;
  justify-content: center;
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em 0;
}

.company-testimonial {
  max-width: 800px;
  margin: 1em auto 0;
  text-align: center;
  padding: 0 1em;
}

.splide img {
  display: block;
  margin: 20px 0;
  max-width: 100%;
  width: 110px;
}

.dsgroup {
  width: 70px !important;
}

.testimonials {
  max-width: 1200px;
  margin: 6em auto 0;
}

.testimonials h2 {
  font-size: 38px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  text-align: center;
}

.contact {
  max-width: 1200px;
  margin: 2em auto 0;
}

.contact h2 {
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  text-align: center;
  color: #473476;
}

.contact p {
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  max-width: 700px;
  padding: 0 0.3em;
}

.contact-number {
  max-width: 700px;
  margin: 1em auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 18px;
}

.contact-number i {
  color: var(--primary-color);
  margin-right: 10px;
}

.contact h3 {
  text-align: center;
  font-weight: normal;
  font-size: 22px;
  margin-top: 2em;
}

.border-color-gray{
  border: 1px solid rgb(145, 145, 145);
}

.contact-form {
  max-width: 700px;
  /* margin: 2em auto 0; */
  padding: 1em;
}
.formgroup {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.formgroup label {
  margin-bottom: 0.5em;
}

.formgroup input {
  padding: 10px 12px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: white;
  border-bottom: 1px solid rgb(145, 145, 145);
  margin-top: -10px;
}

.contact-form input[type="submit"] {
  padding: 0.5em;
  background: var(--primary-color);
  color: white;
  outline: none;
  border: none;
  border-radius: 30px;
  display: block;
  width: 50%;
  cursor: pointer;
  margin-top: 10px;
}

.contact-form input[type="submit"]:hover{
  background-color: transparent;
  border: solid 2px #473476;
  color: #473476;
}

/*Main Styles*/

/* footer styles */

footer {
  padding: 20px 0;
  text-align: center;
  background: var(--primary-color);
  color: white;
}

/* footer styles */

/*Sub Pages*/

.cue-container h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
}

.cue-container .cue-hero-p {
  text-align: center;
  margin-top: 10px;
}

.cue-container {
  min-height: calc(100vh - 17.6em);
  padding: 0 0.3em;
}

.cue-questions {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 0.5em 2em;
  border-radius: 5px;
}

.cue-questions ul li {
  font-size: 18px;
  margin: 3em 0;
}
.cue-questions ul li i {
  margin-right: 16px;
}

@media screen and (max-width: 768px) {
  .cue-questions {
    padding: 10px;
  }

  .contact-form input[type="submit"] {
    margin: 0 auto;
  }
}
@media screen and (max-width: 478px) {
  .cue-container h1 {
    font-size: 34px;
  }
}

/* Additonal CSS */

.font-raleway{
  font-family: "Raleway", sans-serif;
}

.font-roboto{
  font-family: "roboto";
}

.bg-purple{
  background-color: #533C80;
}

.bg-gray{
  background-color: #F2F2F2;
}

.bg-purple400{
  background-color: #8566c2;
}

.bg-purple500{
  background-color: #663B94;
}

.bg-purple600{
  background-color: #431C75;
}

.text-purple{
  color: #533C80;
}

.cta-hover:hover{
  color: #533C80;
  background-color: white;
  border: 2px solid #533C80;
}

.bottom-fit{
  bottom: -60px;
  right: 0;
  z-index: -1;
}

.bottom-20{
  bottom: 70px;
}

.ml-96{
  margin-left: 1rem;
}

.h-96{
  height: 24rem;
}

@media screen and (max-width: 990px) { 
  .mt-image{
    margin-top: 4rem;
  }

  .ml-96{
    margin-left: 0;
  }

  .bottom-20{
    bottom: 40px;
  }

  .h-96{
    height: 18rem;
  }
}

@media (min-width: 1400px) and (max-width: 1800px) { 

  .ml-96{
    margin-left: 16rem;
  }
}

.carousel-cell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


